body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* canvas {
  position: absolute;
  top:100%;
  left:100%;
  transform: translate(-100%,-94%); 
}  */

.navbar,
.navbar-default {
    font-color: "#111111" !important;
    background-color: #162b49  !important; /* override background image gradient w/ flat color */
}