body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f1e0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* canvas {
  position: absolute;
  top:100%;
  left:100%;
  transform: translate(-100%,-94%); 
}  */

.navbar,
.navbar-default {
    color: "##f8f1e0" !important;
    background-color: #162b49  !important; 
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: pink;
}


.nav-link, .navbar-brand {
  color: #f8f1e0 !important;
}

.navbar-brand > img {
  padding: 7px 14px;
}

#intake {
  justify-content: center;
  text-align: center;
  display: inline-block;
}

.particles-wrapper {
  /* background-color: #f8f1e0; */
  /* height: 100%; */
  /*width: 10%; */
}